/* 
    Document   : ElementManipulator
    Created on : Feb 22, 2012, 9:49:04 AM
    Author     : Vamsee Achanta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.closeBtn{
    position: absolute;
    display: none;
    cursor: pointer;
    margin-top: -5px;
    margin-right: -5px;
    padding: 2px;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;    
    color:red;

    z-index: 1000;
}
.closeBtn:hover{
    color: white;
    background:red;
}


/**
* THis CSS for Foldable Element
*/
.foldableDiv{

}

.foldableDiv .foldableHead{
    margin: 0px;
    padding: 10px;
    background: #951717;
    color:white;
    cursor: pointer;
}

.foldableDiv .foldableHead.hover{
    background: #d42222;
}

.foldableDiv .foldableBody{
    padding: 10px;
    background: #f9dddd;
}

/**
* Foldable Element CSS Ends Here
*/


/**
* THis CSS for SideBar Panel CSS
*/
.sideBar
{
    position: absolute;
    padding: 5px 10px;
    max-height: 400px;
    background: #ffffff;
    overflow: auto;    
    border: 2px groove #13a3ff;
    z-index: 1000;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 2px 5px black;
}
/**
* THis CSS for SideBar Panel CSS
*/



/**
* Tabs CSS Starts Here
*/
.TabsPanel{
    position: relative;
}

.TabsPanel div.tabs{
    background: #96999c;
    padding: 5px 5px 0px 5px;
    overflow: hidden;
}

.TabsPanel div.tabs span{
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    background: #f6f6f6;
    background: url('../images/button2.jpg') repeat-x;
    border: 2px solid #96999c;
    color: white;
    cursor: pointer;
}

.TabsPanel div.tabs span.active
{
    top: 2px;
    border-bottom: 0px;
    color: black;
    background: white;
}

.TabsPanel .tabsContainer
{
    padding: 10px;
    background: white;
    border: 2px solid #96999c;
    border-top: 0px;
}

.TabsPanel div.tabContent
{
    position: relative;
}
/**
* Tabs CSS Ends Here
*/

.strippyTable{
    background-color: white;
    -web-kit-box-shadow:0px 2px 2px black;
    -moz-box-shadow:0px 2px 2px black;
    box-shadow:0px 2px 2px black;

    -web-kit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.strippyTable .even{background: #D8E6FF;}
.strippyTable .odd{}