/* 
    Document   : portfolio
    Created on : Jun 10, 2013, 4:16:47 PM
    Author     : PEPL NEW
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#image{
    width: 180px;
    height: 100px;
    border: 2px solid #0099CC;
    /*border-color: red;*/
    float: left
}
.title h2 {
    font-size: 30px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #8DDAEA
}
.each{
    width: 790px;
    background-color: #2EBDDA;
    padding-top: 2px;
    padding-bottom: 1px
}
.p1{
    font-size: 25px;
    padding-left: 5px;
    float: left;
    font-weight: bold;
    border: 1px solid red
}
.each b{
        font-size: 12px;
}
#templatemo_content2 {
    float: left;
    width: 790px;
}
#templatemo_main {
    clear: both;
    width: 960px;
    padding: 20px 0 2px;
}
