/* 
    Document   : slideShow
    Created on : Jan 20, 2012, 12:55:18 PM
    Author     : Dell
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    font-family:arial;
}

.clear {
    clear:both
}

#gallery {
    position:relative;
    height:300px
}
#gallery a {
    float:left;
    position:absolute;
}

#gallery a img {
    border:none;
}

#gallery a.show {
    z-index:500
}

#gallery .caption {
    z-index:600; 
    background-color:#000; 
    color:#ffffff; 
    height:60px; 
    width:100%; 
    position:absolute;
    bottom:0;
}

#gallery .caption .content {
    margin:5px
}

#gallery .caption .content h3 {
    margin:0;
    padding:0;
    color:#1DCCEF;
}

