<!doctype html>
<html>
	<form method="page2">
		<h1 style='color:blue; text-align: center;'>{{ data['title2'] }}</h1>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<body>
		<div class="row" style="margin-top: 5%; ">
			<div class="offset-md-2 col-md-8 text-center">
		<img src={{ data['image2'] }} height="auto" max-width="100%">
				<div style="margin-top: 50px;"> 
					<p1 style='color:blue;' 'font-family:arial;' >{{ data['para2'] }}</p1>
				</div>
			</div>
		</div>
		<div style="text-align:center; margin-top: 60px;">
		<button><a href="/">Go to Home! </a></button>	
		<button><a href="next">Go to previous Page! </a></button>
		</div>
	</body>
	</form>
</html>