/* 
    Document   : ace
    Created on : Aug 23, 2012, 4:30:25 PM
    Author     : Dell
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


root { 
    display: block;
}

body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#FFFFFF));
    background: -moz-linear-gradient(top,  whitesmoke,  white);
    background: -o-linear-gradient(top,rgb(245,245,245),rgb(251,251,251));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#FFFFFF');
    font-family:sans-serif;
}

/*content table */
.content{
    background: white;
    border-radius:10px 10px 0px 0px ;
    -webkit-border-radius:10px 10px 0px 0px;
    box-shadow: 0 0 2em grey; 
    -webkit-box-shadow: 0 0 2em grey; 
    width: 990px;
    height: 500px;
}

/*end of content  table*/
.dropMenu
{
    /*    padding: 0px;
        margin: 0px;
        list-style-type: none;
        height: 35px;
        text-align: justify;
        background: -webkit-gradient(linear, left top, left bottom, from(#2A64B6), to(#2964B6));
        background: -moz-linear-gradient(top,  #2A64B6,  #80b3df);
        background: -o-linear-gradient(top,rgb(43,101,182),rgb(127,178,223));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A64B6', endColorstr='#2964B6');
        float: left;*/

    padding: 0px;
    margin: 0px;
    list-style-type: none;
    height: 36px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#2A64B6), to(#2964B6));
    background: -moz-linear-gradient(top,  #2A64B6,  #80b3df);
    background: -o-linear-gradient(top,rgb(43,101,182),rgb(127,178,223));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A64B6', endColorstr='#2964B6');
    float: left;
    width: 1000px;
}
.dropMenu li
{
    vertical-align: middle;
    text-align:center;
    position: relative;
    width:220px;
    height: 36px;
    float: left;
    margin-bottom: 0px;
    z-index: 100;
    cursor: pointer;
    display: block;
    color:white;
    font-size: 14px;
    font-weight: bold; 

    /*    position: relative;
        width:220px;
        height: 35px;
        float: left;
        margin-bottom: 0px;
        z-index: 100;*/
}
.dropMenu li:hover
{
    color: red;
    background: lightblue;
    height: 36px;
    /*    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;*/
}
/*.dropMenu li a
{
    text-decoration: none;
        vertical-align: middle;
    padding-top: 10px;
    display: block;
    width: 200px;
    height: 25px;
    text-align:center;
    color:white;
    font-size: 14px;
    font-weight: bold;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
       border-radius:10px;
}
.dropMenu li a:hover
{
    color: white;
    background:#80b3df;
    width: 200px;
        text-shadow: 2px 2px 2px black;
    height: 25px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;
}*/
.dropMenu li span
{
    padding-top: 10px;
    color:white;
    font-size: 14px;
    font-weight: bold;
    display: block;
    /*    text-decoration: none;
            vertical-align: middle;
        padding-top: 10px;
        display: block;
        width: 200px;
        height: 25px;
        text-align:center;
        color:white;
        font-size: 14px;
        font-weight: bold;*/
    /*    -webkit-border-radius:10px;
        -moz-border-radius:10px;
       border-radius:10px;*/
}



/*.dropMenu li ul
{
    position:absolute;
    top: 35px;
    list-style-type: none;
    display: none;
    padding: 0px;
    margin: 0px;
    background: #2A64B6;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -o-border-radius:10px;
        border-radius:10px;
}*/
/*.dropMenu li ul li{
    width:200px;
}

.dropMenu li ul a
{
    width:180px;
    display: inline-block;
    padding: 10px 10px;
    height: 18px;
    text-align: left;
    color:white;
    font-weight: bold;
        -webkit-border-radius:10px;
        -o-border-radius:10px;
        border-radius:10px;
}
.dropMenu li ul span
{
    width:180px;
    display: inline-block;
    padding: 10px 10px;
    height: 18px;
    text-align: left;
    color:white;
    font-weight: bold;
        -webkit-border-radius:10px;
        -o-border-radius:10px;
        border-radius:10px;
}*/

.active
{
    background: #80b3df;
    /*    background: #020262;;*/
    /*    text-shadow: 2px 2px 2px black;*/
}

.menu{
    /*    background: #2A64B6;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#2A64B6), to(#2964B6));
    background: -moz-linear-gradient(top,  #2A64B6,  #80b3df);
    background: -o-linear-gradient(top,rgb(43,101,182),rgb(127,178,223));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A64B6', endColorstr='#2964B6');
}

/*---------------------Table styles-----------------------------------*/
.tableborder{
    background: white;
    color:#272900;
    border: 2px ridge #2A64B6;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    width: 220px;

}

.tableborder th{
    padding-bottom: 5px;
    /*    background: #2964B6;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#2A64B6), to(#2964B6));
    background: -moz-linear-gradient(top,  #2A64B6,  #80b3df);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A64B6', endColorstr='#2964B6');
    color: white;
    font-size: larger;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    border-bottom:  2px solid black;


}
.tableborder td{
    color:gray;
    font-weight: bold;
    /*    display: block;*/
    /*    float: left;
        text-align:right;
            margin-right:20px;*/
    /*    width:70px;*/
    font-weight:bold;
    color: #019AC6;
    font-size:14px;
}
.tableborder input[type=text]{
    color:black;
    font-size: 12pt;
    width: 220px;
    height: 30px;
}
.submitBtn{
    background: #1BACD6;
    color:white;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    width: 80px;
    height: 30px;
}

.submitBtn:hover{
    background: #2A64B6;

}

.tableborder textarea{
    width:220px;
    height:100px;
    border: 1px solid #019AC6;
}
/*---Login------*/
.login{
    border: 2px ridge #2964B6;
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    width: 240px;
}

.login th{
    font-size: 14pt;
    color: #2A64B6;
    font-weight: bold;
    vertical-align: top;
}

.login td{
    color:gray;
    font-weight: bold;
    /*    display: block;*/
    /*    float: left;
        text-align:right;
            margin-right:20px;*/
    /*    width:70px;*/
    font-weight:bold;
    color: #019AC6;
    font-size:14px;
}

.login td a{
    color: gray;
    text-decoration: none;

}

.login td input[type=text]{
    /*    color:black;
        font-size: 12pt;
        width: 220px;
        height: 30px;*/
    width:220px;
    height:30px;
    border: 1px solid #019AC6;
}

.login .bottom{
    background: #EBF2F4;
}

.login .submitBtn {
    background-color: #8ACEEB;
    font-weight: bold;
    color: white;
}
.login .submitBtn:hover{
    background: #2A64B6;

}



/** Start of slide show CSS*/

/*            body{
                font-family:arial;
            }*/
/*hr{
    color: #2964B6;
}

.clear {

    clear:both
}

#gallery {
    position:relative;
    height:300px;
    width: 1000px;
}
#gallery a {
    float:left;
    position:absolute;
}

#gallery a img {
    border:none;
}

#gallery a.show {
    z-index:500
}

#gallery .caption {
    z-index:600; 
    background-color:gainsboro; 
    color:black; 
    height:60px; 
    width:100%; 
    position:absolute;
    bottom:0;
}

#gallery .caption .content {
    margin:5px;
    color: black;
    font-weight: 500;
}

#gallery .caption .content h4 {
    margin:0;
    padding:0;
    color:black;
}*/
/** end of slide show CSS*/


.para{
    font-size: 11pt;
    text-align: justify;
}

/*footer**/


#Footer  a{
    text-decoration: none;
    color: #ffffff;
    /*                color: #D3FFFF;*/
}
#Footer a:hover
{
    color: orange;
}
strong:hover
{

}

#Footer ul{
    text-decoration: none;
}

#Footer a ul li
{
    text-align: left;
    text-decoration: none;
}
#Footer{
    background: #2964B6;
    margin: 0 auto;
    padding: 0;
    /*    margin-left : -8px;
        margin-right : -8px;
        margin-bottom:  -8px;*/

}
#Footer a strong
{
    font-family: sans-serif;
    font-size: 15px; 
    font-weight: bold;
    color: #ffffff;
    /*                color: #E0DFA6;*/
}

#Footer .siteMap{
    width: 990px;
}
/*end of footer*/

/*Header*/

#header a{
    /*color: #2964B6;*/
    text-decoration: none;
    font-weight: bold;
}

#header a:hover{
    color: orange;
}

/**Feed back side bar *
#feedback{
    position: fixed;
    top:100px;
    right:-365px;
    background: whitesmoke;
}
#feedback form{
    float: left;
    border: 1px solid #999;
    padding: 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}
#feedback form label{
    display: block;
    float: left;
    text-align:right;
    margin-right:20px;
    width:70px;
    font-weight:bold;
    color: #019AC6;
    font-size:14px;
}
#feedback a{
    background:url("../images/feedback.png")  no-repeat center left transparent;
    display: block;
    width:25px;
    height:100px;
    float: left;
    text-indent:-9999em;
    position: absolute;
    top:120px;
    left:-20px;
    border-radius:10px 0px 0px 10px;
    -webkit-border-radius:10px 0px 0px 10px;
    -o-border-radius:10px 0px 0px 10px;

}

#feedback a:hover{
    left: -21px;
}

#feedback form .btn{
    float: right;
    background:url("../images/send.png")  no-repeat 0px 0px transparent;
    text-indent:-9999em;
    width:80px;
    height:28px;
    border:none;

}
#feedback form textarea{
    width:250px;
    height:100px;
    border: 1px solid #019AC6;
}
#feedback form input[type="text"]{
    width:250px;
    height:30px;
    border: 1px solid #019AC6;
}
#feedback h2{
    text-align:center;
    color: #019AC6;
    text-shadow:0.2px 0.3px 0.3px #000;
    font-size:18px;
}
/*End of feedback side bar*/

.headingBig{
    font-size: 18pt;
    /*    color:#999;*/
    color:#2964B6;
    font-weight: bold;
    /*    text-shadow: 0 0 0.2em lightgray, 0 0 0.2em lightgray,0 0 0.2em gray;*/
}
.headingMedium{
    font-size: 16pt;
    color:#999;
    /*    text-shadow: 0 0 0.2em lightgray, 0 0 0.2em lightgray,0 0 0.2em gray;*/
}
.headingSmall{
    font-size: 13pt;
}


/*Applications tab**/
.appTab{


}

.appTab td{
    vertical-align: top;
}

.appTab img{
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
    box-shadow:0 0 1em 0.2em lightgray;
    -webkit-box-shadow:0 0 1em 0.2em lightgray;
    -o-box-shadow:0 0 1em 0.2em lightgray;
}

/*
             Carres Page CSS
*/

.imgBorder{
    border-radius:10px;
    -webkit-border-radius:10px;
    -o-border-radius:10px;
}


.myList{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -1px;
}



.listHeading{
    margin: 0px;
    padding: 10px;
    text-align: center;
    background: #2A64B6;
    color: white;
    margin-bottom: 2px;
}

.myList li{
    position: relative;
    list-style: none;
    padding: 10px 10px;
    background: #2A64B6;
    color: #FFFFFF;
    /*                background: #888365;
                    color: white;*/
    margin: 1px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.myList li.hover{
    background: whitesmoke;
    color: #2964B6;                                
}
.myList li.selected{
    background: #80B3DF;
    color: white;
    padding-left: 25px;
    left: 2px;
}

.imageContainer{
    display: none;
}

.container{
    background: whitesmoke;
    /*                text-align: center;*/
}

.myImg{
    margin: 5px;
    width: 150px;
    height: 150px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.myImg:hover{
    -webkit-box-shadow: 0px 5px 10px black;                
    -moz-box-shadow: 0px 5px 10px black;                
    -o-box-shadow: 0px 5px 10px black;                
    box-shadow: 0px 5px 10px black;                
}

.sideHeading{
    padding: 10px;
    margin: 0px;
    text-decoration: underline;
}

.seeMore{
    color:#2A64B6; 
    font-weight: bold;
    cursor: pointer;
}

.dropMenu_Register
{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    height: 35px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#2A64B6), to(#2964B6));
    background: -moz-linear-gradient(top,  #2A64B6,  #80b3df);
    background: -o-linear-gradient(top,rgb(43,101,182),rgb(127,178,223));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2A64B6', endColorstr='#2964B6');
    float: left;
    width: 1000px;
}
.dropMenu_Register li
{
    vertical-align: middle;
    text-align:center;
    position: relative;
    width:220px;
    height: 35px;
    float: left;
    margin-bottom: 0px;
    z-index: 100;
    cursor: pointer;
    display: block;
    color:white;
    font-size: 14px;
    font-weight: bold; 
}
.dropMenu_Register li:hover
{
    color: red;
    background: lightblue;
    height: 35px;
    /*    -webkit-border-radius:10px;
        -moz-border-radius:10px;
        border-radius:10px;*/
}
.dropMenu_Register li a
{
    padding-top: 10px;
    color:white;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

