<link rel="icon" type="image/svg+xml" href="{{ rootPath }}assets/favicon.svg">
<link rel="stylesheet" href="{{ rootPath }}assets/css/styles.min.css">
<script defer src="{{ rootPath }}assets/js/navbar-toggle.js"></script>

<!-- Google Analytics - deferred until after page is interactive -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-K31E51DQ47');
  (function() {
    function loadGtag() {
      var s = document.createElement('script');
      s.src = 'https://www.googletagmanager.com/gtag/js?id=G-K31E51DQ47';
      document.head.appendChild(s);
    }
    if ('requestIdleCallback' in window) {
      requestIdleCallback(loadGtag);
    } else {
      window.addEventListener('load', loadGtag);
    }
  })();
</script>
