<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ rootPath }}index.html" class="navbar-brand-link" aria-label="AceEngineer home">
                <img src="{{ rootPath }}assets/img/logo.svg" class="navbar-logo" alt="AceEngineer — Analytical &amp; Computational Engineering">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ rootPath }}index.html">Home</a></li>
                <li><a href="{{ rootPath }}about.html">About</a></li>
                <li><a href="{{ rootPath }}engineering.html">Services</a></li>
                <li><a href="{{ rootPath }}energy.html">Energy Data</a></li>
                <li><a href="{{ rootPath }}calculators/">Calculators</a></li>
                <li><a href="{{ rootPath }}case-studies/">Case Studies</a></li>
                <li><a href="{{ rootPath }}blog/">Blog</a></li>
                <li><a href="{{ rootPath }}contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ rootPath }}pricing.html" class="btn-nav-cta">Request Pricing</a></li>
            </ul>
        </div>
    </div>
</nav>
