<link rel="icon" type="image/svg+xml" href="{{ rootPath }}assets/favicon.svg">
<link rel="preconnect" href="https://code.jquery.com" crossorigin>
<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap"></noscript>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.4.0/united/bootstrap.min.css">
<link rel="stylesheet" href="{{ rootPath }}assets/css/responsive.css">
<link rel="stylesheet" href="{{ rootPath }}assets/css/marketing.css">
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K31E51DQ47"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-K31E51DQ47');
</script>
