<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ rootPath }}index.html" class="navbar-brand-link">
                <svg viewBox="0 0 120 50" xmlns="http://www.w3.org/2000/svg" class="navbar-logo" aria-labelledby="logoTitle">
                    <title id="logoTitle">Analytical & Computational Engineering</title>
                    <rect x="0" y="0" width="120" height="50" fill="#f0f0f0" rx="4"/>
                    <text x="60" y="28" text-anchor="middle" font-weight="bold" fill="#333" font-family="sans-serif" font-size="26">A&amp;CE</text>
                </svg>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ rootPath }}index.html">Home</a></li>
                <li><a href="{{ rootPath }}about.html">About</a></li>
                <li><a href="{{ rootPath }}engineering.html">Services</a></li>
                <li><a href="{{ rootPath }}case-studies/">Case Studies</a></li>
                <li><a href="{{ rootPath }}blog/">Blog</a></li>
                <li><a href="{{ rootPath }}contact.html">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ rootPath }}contact.html" class="btn-nav-cta">Get a Quote</a></li>
            </ul>
        </div>
    </div>
</nav>
