{% extends "layout.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}
{% block page_keywords %}{{ page_keywords }}{% endblock %}
{% block page_h1 %}{{ page_h1 }}{% endblock %}
{% block body %}
{{ super() }}

<p>Analytical & Computational Engineering (<b>A&CE</b>) is established in 2010 to provide data driven engineering services.</p>
<p><b>A&CE</b> solves technical problems as a algorithm or library solutions driven by abstracted data. 
    <b>A&CE</b> helps drive futuristic algorithm solutions to help utilize machine learning and artificial intelligence for engineering systems. 
    These algorithm solutions running in compute engine can be utilized by 
    state-of-art Artifical Itelligence (AI) systems to drive insights and further automate engineering systems.</p>
<p>The typical usecases are:</p>
<ul>
    <li>Reusable engineering algorithms.</li>
    <li>Algorithms/library delivered as service.</li>
    <li>Compute engine algorithms as web services.</li>
</ul>

<br>
<p> For further information on <b>A&CE</b> capabilities and experience, get in touch using <a href="{{ url_for('contact') }}">contact form</a>. We will respond within 24 hours.</p>

{% endblock %}