{% extends "layout.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}
{% block page_keywords %}{{ page_keywords }}{% endblock %}
{% block page_h1 %}{{ page_h1 }}{% endblock %}
{% block body %}
{{ super() }}

<p>We'd love to hear from you.</p>
<p><b>Email:</b> support@aceengineer.com</p>

<p><b>US Address:</b>
  <br>
  11511 Piping Rock Dr., Houston, TX 77077 
  <a href="https://www.google.com/maps/place/11511+Piping+Rock+Dr,+Houston,+TX+77077/@29.7407084,-95.5815012,17z/data=!3m1!4b1!4m5!3m4!1s0x8640dcc09c62b9f3:0x162814cb39f71807!8m2!3d29.7407038!4d-95.5793072">(view map)</a></p>
</p>

<p>
 <h3>What You Get When Asking Your Question</h3>
 <ul>
  <li>Less than 24-hour response to your question.</li>
  <li>Engineering thoroughness and expertise.</li>
  <li>Plan of action summarized in an email follow up.</li>
</ul>
 </p>

 <form action="{{ url_for('contact') }}" method="POST">
  {{ form.csrf_token }}

  <div class="form-group">
    {{ form.name.label }}
    {{ form.name(class='form-control') }}
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class='form-control') }}
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.subject.label }}
    {{ form.subject(class='form-control') }}
    {% for error in form.subject.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  <div class="form-group">
    {{ form.message.label }}
    {{ form.message(class='form-control') }}
    {% for error in form.message.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>

  {{ form.submit(class='btn btn-success') }}
  
</form>

{% endblock %}