{% extends "layout.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}
{% block page_keywords %}{{ page_keywords }}{% endblock %}
{% block page_h1 %}{{ page_h1 }}{% endblock %}
{% block body %}
{{ super() }}

    <p>
    The various areas of solutions are below.
    </p>

    <h2>Field Development</h2>
        <p>Previous field economics and related activities</p>

    <h2>Design</h2>
        <p>Engineering design</p>

    <h2>Engineering</h2>
        <p>Physics based animations</p>

    <h2>Drilling</h2>
    <p>Day to day drilling related algorithms in near-real time.</p>

    <h2>Operations and Production</h2>
    <p>Day to day operations and production related algorithms in near-real time.</p>
    <ul>
        <li><a href="https://github.com/vamseeachanta/pyintegrity">Fitness for service</a> (FFS) analysis utilzing API 579, 2016 code and BS7910</li>
    </ul>
     
    <h2>Intervention</h2>
    <p>Intervention or work-over activities.</p>

    <h2>Decommission</h2>
    <p>End of life or decommission engineering.</p>

    <br>
    <p> Let <b>A&CE</b> help your project by using the <a href="{{ url_for('contact') }}">contact form</a>. We will respond within 24 hours.</p>

{% endblock %}