{% extends "layout.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block page_description %}{{ page_description }}{% endblock %}
{% block page_keywords %}{{ page_keywords }}{% endblock %}
{% block page_h1 %}{{ page_h1 }}{% endblock %}
{% block body %}
{{ super() }}

       <p>Analytical & Computational Engineering (<b>A&CE</b>) is a design and engineering services firm providing analytical solutions.</p>
       <p>The innovative solutions utilize clean data and clean code programming practices to deliver algorithm solutions. </p>
       <p>    <b>A&CE</b> is driven by the passion to deliver algorithm libraries as solutions.
              Algorithms as libraries enable machine learning and artificial intelligence on engineering systems.
              These algorithms will define the future of advanced engineering systems.
       </p>

       <br>
       <p> For more information on <b>A&CE</b> capabilities, view <a href="{{ url_for('engineering') }}">engineering</a>.</p>

{% endblock %}