<!-- Navigation -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="index.html">
                <svg width="auto" height="50" xmlns="http://www.w3.org/2000/svg">
                    <rect x="50" width="50%" height="100%" style="fill:rgb(240,240,240);stroke-width:3;stroke:rgb(240,240,240)" />
                    <title>Analytical & Computational Engineering</title>
                    <text x="70" y="12" font-weight="bold" fill="black">A&CE</text>
                    Analytical & Computational Engineering
                    <style>
                        <![CDATA[
                        text {
                            dominant-baseline: hanging;
                            font: 40px sans-serif;
                        }
                        ]]>
                    </style>
                </svg>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="engineering.html">Engineering</a></li>
                <li><a href="energy.html">Energy</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
